### Deep learning
 * ANN
 * RNN
 * LSTM
 * GRU
 * Gen AI

In [74]:
import pandas  as pd   
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [75]:
df=pd.read_csv('cleaned_data.csv')

In [76]:
df.head()

     price  kms_driven  owner  age  power  brand
0  35000.0     17654.0      1    3  110.0      8
1  65000.0     16329.0      1    4  180.0      8
2  80000.0     10000.0      1    3  150.0      5
3  53499.0     25000.0      1    6  150.0      5
4  85000.0      8200.0      1    3  160.0      6

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17725 entries, 0 to 17724
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   price       17725 non-null  float64
 1   kms_driven  17725 non-null  float64
 2   owner       17725 non-null  int64
 3   age         17725 non-null  int64
 4   power       17725 non-null  float64
 5   brand       17725 non-null  int64
dtypes: float64(3), int64(3)
memory usage: 831.0 KB

In [78]:
df.isnull().sum()

price         0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [79]:
df.duplicated().sum()

np.int64(14440)

In [80]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()

np.int64(0)

In [81]:
x=df.drop('price',axis=1)
y=df['price']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [82]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((2628, 5), (657, 5), (2628,), (657,))

In [83]:
import tensorflow as tf

In [84]:
from tensorflow.keras.layers import Dense  # used to create layers
from tensorflow.keras.models import Sequential # used to create model
from tensorflow.keras.layers import Dropout # dropout layer is used to reduce overfitting

In [85]:
input_shape=(5,) # number of features

In [86]:
model=Sequential()

### Feedforward Propogation

In [87]:
model.add(Dense(units=64,activation='relu',input_shape=(input_shape))) # input layer
model.add(Dropout(0.2)) # dropout layer
model.add(Dense(units=32,activation='relu')) # hidden layer
model.add(Dense(units=16,activation='relu')) # hidden layer
model.add(Dense(units=8,activation='relu')) # hidden layer
model.add(Dense(units=1,activation='linear')) # output layer

c:\Users\asus\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

### Back Propogation

In [88]:
model.compile(optimizer='adam',loss='mse',metrics=['mse','mae'])

### Training

In [89]:
model.fit(x_train,y_train,epochs=10,batch_size=32) # fit the model,epoches is the number of iterations,batch size is the number of samples in each iteration,iteration is the process of training the model on a single batch of data
                                                  # validation_data is the data that is used to evaluate the model

Epoch 1/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 3183555072.0000 - mae: 45706.2188 - mse: 3183555072.0000
Epoch 2/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 2455614464.0000 - mae: 38071.7500 - mse: 2455614464.0000
Epoch 3/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 2348560384.0000 - mae: 37139.5820 - mse: 2348560384.0000
Epoch 4/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 2566779648.0000 - mae: 38842.9609 - mse: 2566779648.0000
Epoch 5/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 2279718912.0000 - mae: 36503.4336 - mse: 2279718912.0000
Epoch 6/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 2367914240.0000 - mae: 37194.3047 - mse: 2367914240.0000
Epoch 7/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 2382608896.0000 - mae: 37084.5859 - mse: 2382608896.0000
Epoch 8/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 2331571968.0000 - mae: 36967.3633 - mse: 2331571968.0000
Epoch 9/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 2169383168.0000 - mae: 35594.2617 - mse: 2169383168.0000
Epoch 10/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1952833792.0000 - mae: 33712.7500 - mse: 1952833792.0000

In [90]:
history=model.fit(x_train,y_train,epochs=10,batch_size=32)

Epoch 1/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1254922368.0000 - mae: 26302.6582 - mse: 1254922368.0000
Epoch 2/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 611051648.0000 - mae: 18381.4961 - mse: 611051648.0000
Epoch 3/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 547778752.0000 - mae: 17067.2812 - mse: 547778752.0000
Epoch 4/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 550268224.0000 - mae: 17272.7500 - mse: 550268224.0000
Epoch 5/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 557756928.0000 - mae: 17088.4492 - mse: 557756928.0000
Epoch 6/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 482833056.0000 - mae: 16104.1592 - mse: 482833056.0000
Epoch 7/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 531655744.0000 - mae: 17139.9824 - mse: 531655744.0000
Epoch 8/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 524669280.0000 - mae: 16923.6914 - mse: 524669280.0000
Epoch 9/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 498511808.0000 - mae: 16585.8555 - mse: 498511808.0000
Epoch 10/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 494025088.0000 - mae: 16335.0400 - mse: 494025088.0000

### Dataframe

In [91]:
pd.DataFrame(history.history)

          loss           mae          mse
0  959405760.0  22560.517578  959405760.0
1  562942848.0  17694.517578  562942848.0
2  549294144.0  17465.384766  549294144.0
3  522904256.0  16935.917969  522904256.0
4  519288768.0  16830.767578  519288768.0
5  507596608.0  16618.328125  507596608.0
6  519303136.0  16822.308594  519303136.0
7  518065824.0  16779.451172  518065824.0
8  500903232.0  16474.578125  500903232.0
9  500170112.0  16439.593750  500170112.0

In [94]:
pred=model.predict(x_test)

21/21 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

In [95]:
y_test

3919    70000.0
3440    26000.0
2429    48000.0
2930    70000.0
533     68000.0
         ...
171     74500.0
2824    80000.0
2120    65000.0
1639    17000.0
1718    72300.0
Name: price, Length: 657, dtype: float64

In [99]:
output_data=pd.DataFrame({'actual':y_test.ravel(), 'predicted':pred.ravel()})
output_data

C:\Users\asus\AppData\Local\Temp\ipykernel_20784\2696281603.py:1: FutureWarning: Series.ravel is deprecated. The underlying array is already 1D, so ravel is not necessary.  Use `to_numpy()` for conversion to a numpy array instead.
  output_data=pd.DataFrame({'actual':y_test.ravel(), 'predicted':pred.ravel()})

      actual     predicted
0    70000.0  57624.742188
1    26000.0  34971.148438
2    48000.0  60473.281250
3    70000.0  72665.578125
4    68000.0  65220.507812
..       ...           ...
652  74500.0  91875.992188
653  80000.0  55712.257812
654  65000.0  58663.796875
655  17000.0  30910.041016
656  72300.0  71637.664062

[657 rows x 2 columns]

In [100]:
output_data.describe()

              actual      predicted
count     657.000000     657.000000
mean    50671.435312   50653.535156
std     27865.400619   21253.541016
min      9500.000000   20831.957031
25%     28000.000000   33149.429688
50%     45000.000000   45938.578125
75%     67000.000000   64030.437500
max    160000.000000  139230.000000

In [ ]:
model.save('bike.h5') # save the model

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.